html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.header {
  width: 100vw;
  position: fixed;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.top#logo img{
  height: 50px;
  margin-left: 10px;
}

.top#nav-list {
  justify-content: flex-end;
  text-decoration: underline;
  margin-right: 10px
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  color: seashell;
}

#mission {
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.mission-text {
  z-index: 1;
  align-items: center;
}
